*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.contenido{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenido div{
    width: 50vh;
}
.seccion-1 img{
    width: 10vh;
}
.nav li{
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(76, 80, 79, 0.76);
}
.nav li:hover{
    background-color: brown;
}
/*Servicios*/
.servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.servicios div h2{
    text-align: left;
    margin-left: 300px;
}
.sub-servicio{
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.sub-servicio div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50vh;
}
.sub-servicio div img{
    width: 100%;
}

.sub-servicio div button{
    width: 20%;
}
/*Cajas*/
.cajas{
    display: flex;
    flex-wrap: wrap;
}
.sub-caja{
    width: 30vh;
    margin: 20px    ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sub-caja img {
width: 100%;
}
/**/
.imagen-btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagen-btn button{
    text-align: center;
    position: absolute;
    padding: 15px;
    top: 0;
    left: 0;
}
.imagen-btn div{
    position: absolute;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}
.imagen-btn div button{
    padding: 30px;
}
.modal{
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(37, 37, 37, .5);
}
.modal-contenido{
    background-color: white;
    width: 50vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.modal-contenido img{
    width: 80%;
}
/**/
.mostrar-modal{
    opacity: 1;
    pointer-events: unset;
}
.btn{
    cursor: pointer;
}